#pageContainer
{
    width: 1335px;
    background: red;
    margin: auto;
}
#header
{
    height: 368px;
    background: white;
}
#menu
{
    height: 46px;
    background: white;
    
}
#content
{
    height: 478px;
    background-image: url("images/9.jpg") ; 
}
#scrol
{
    height: 115px;
    background: orange;    
}
#footer
{
      height: 30px;
      background: white;
}